@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.mycontainer{
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}
*{
    font-family: "Montserrat", sans-serif;
}